.site-nav-logo {
  padding: 0;
}
.site-nav-logo img {
  height: 42px;
}
.site-logo {
  max-height: 80px;
}
.site-home-header .site-description {
  font-size: 1.5rem;  
  font-style: italic;
}

@media (prefers-color-scheme: dark){
  .site-header-background:after, .site-header-background:before {
    background: linear-gradient(90deg, black 21px, transparent 1%) center, linear-gradient(black 21px, transparent 1%) center, #2e2e2e;
    background-size: 22px 22px;
  }
}
pre[class*=language-] {
  margin: 1.75em 0;
  font-size: 1.4rem !important;
  border: none;
  box-shadow: none;
}

.post-full-content figcaption {
  margin-top: -1.8rem;
  font-style: italic;
  font-size: 1.4rem;
}

div.code-toolbar > .toolbar {
  top: 0;
  right: .5em;
}

div.code-toolbar>.toolbar button {
  display: block;
  text-transform: uppercase;
  font-family: sans-serif;
  padding: 4px 5px;
  font-size: 1rem;
  font-weight: 600;
  background: rgba(0,0,0,0.5);

}
