.site-nav-logo {
  padding: 0;
}
.site-nav-logo img {
  height: 42px;
}
.site-logo {
  max-height: 80px;
}
.site-home-header .site-description {
  font-size: 1.5rem;  
  font-style: italic;
}

@media (prefers-color-scheme: dark){
  .site-header-background:after, .site-header-background:before {
    background: linear-gradient(90deg, black 21px, transparent 1%) center, linear-gradient(black 21px, transparent 1%) center, #2e2e2e;
    background-size: 22px 22px;
  }
}
pre[class*=language-] {
  margin: 1.75em 0;
  font-size: 1.4rem !important;
  border: none;
  box-shadow: none;
}

.post-full-content figcaption {
  margin-top: -1.8rem;
  font-style: italic;
  font-size: 1.4rem;
}

div.code-toolbar > .toolbar {
  top: 0;
  right: .5em;
}

div.code-toolbar>.toolbar button {
  display: block;
  text-transform: uppercase;
  font-family: sans-serif;
  padding: 4px 5px;
  font-size: 1rem;
  font-weight: 600;
  background: rgba(0,0,0,0.5);

}


/* 360 search */

.search-title {
  text-align: center;
}

.ss360-custom-search .ss360-custom-search__searchbox {
  color: #2e2e2e !important;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
}

.ss360-layer {
  background: #191B1F !important;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
  color: #efefef;
  padding: 12px;
  text-align: left;
}

.ss360-suggests__header{
  margin-bottom: 2rem !important;
}

.ss360-suggests__header .ss360-suggests__link {
  color: #efefef !important;
  text-decoration: none !important;

}

.ss360-suggests__snippet {
  /* font-family: Georgia,serif; */
  font-size: 1.5rem !important;
  color: #92a3ab;
}

.post-full-content a {
  box-shadow: none !important;
}
.post-full-content img {
  margin: 0 auto;
  width: 100%;
  display: block;
  height: 500px;
}

.ss360-suggests {
  box-shadow: -1px 1px 6px rgba(0,0,0,1) !important;
}